<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Reportar Incidente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="light">
  <ion-card class="reporte-card">
    <ion-card-header>
      <ion-card-title>Nuevo Reporte de Incendio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="form-item">
        <ion-label position="stacked">
          Testigo / Bombero a Cargo
        </ion-label>
        <ion-input placeholder="Nombre o Placa..."></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">
          Descripción del Incidente
        </ion-label>
        <ion-textarea
          [rows]="3"
          placeholder="Pasto seco quemándose, estructura en llamas..."
        ></ion-textarea>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">
          Estado Inicial
        </ion-label>
        <ion-input placeholder="Detectado, En Combate, o Descontrolado"></ion-input>
      </ion-item>

      <ion-button expand="block" color="warning" class="btn-enviar">
        ENVIAR REPORTE AL CENTRO DE CONTROL
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
